.costs{
    &__items{
        display: flex;
        justify-content: space-between;
        padding-top: 4.625rem;
        padding-bottom: 7.5rem;
    }
    &__item{
        min-height: 23.562rem;
        max-width: 21.175rem;
        text-align: center;
        &-title{
            font-weight: 700;
            margin-bottom: 1.687rem;
        }
        &-price{
            font-weight: 700;
            font-size: 1rem;
            margin-bottom: 2.812rem;
        }
        &-list{
            font-size: 1rem;
            color:$dgrey;
            &:not(:last-child){
                margin-bottom: 1.812rem;
            }
        }
        &:not(:last-child){
            border-right: 1px solid $darkenGray;
            padding-right: 6.875rem;
        }
    }
    .btn-costs{
        padding: 18px 50px;
    }

}