.lessons{
    background: linear-gradient(0.25turn, $dgrey, $darkblue, $dgrey),url(../img/lessons-bg.png) no-repeat center / cover;
    color: $white;
    .section-title{
        max-width: 40rem;
        margin: 0 auto 3rem;
        &__heading{
            color: $white;
        }
        &__subtitle{
            max-width: 26rem;
        }
    }
    &__input{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 22.375rem;
        input{
            margin-bottom: 1.75rem;
        }
    }
}