.questions{
    padding: 120px 0;
    background: linear-gradient(0.25turn, $dgrey, $darkblue, $dgrey);
    color: $white;
    .section-title{
        margin-bottom: 3rem;
        &__heading{
            color: $white;
        }
    }
    input{
        margin-right: 1.75rem;
    }
}